<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controlalumnos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cursos.Cursos"
            android:label="@string/title_activity_cursos" >
        </activity>
        <activity
            android:name="com.example.cursos.Dias"
            android:label="@string/title_activity_dias" >
        </activity>
        <activity
            android:name="com.example.adaptadoresListView.AdaptadorDatos"
            android:label="@string/title_activity_adaptador_datos" >
        </activity>
        <activity
            android:name="com.example.cursos.EliminarCurso"
            android:label="@string/title_activity_eliminar_curso" >
        </activity>
        <activity
            android:name="com.example.alumnos.Asistecia"
            android:label="@string/title_activity_asistecia" >
        </activity>
        <activity
            android:name=".NuevoCurso"
            android:label="@string/title_activity_nuevo_curso" >
        </activity>
        <activity
            android:name="com.example.adaptadoresListView.Adaptador_asistencia"
            android:label="@string/title_activity_adaptador_asistencia" >
        </activity>
    </application>

</manifest>
